* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
  }
  
  body {
	margin: 0;
	font-family: "Lucida Grande";
  }
  
  a {
	text-decoration: none;
  }
  
  .container {
	max-width: 1280px;
	padding: 0 0px;
	margin: 0 auto;
  }
  
  /* Header */
  header {
	height: 65px;
	width: 100%;
	background-color: rgba(34, 49, 52, 0.9);
	position :fixed;
	top: 0;
	z-index: 10;
  }
  
  .header-left h2 {
	color: #f7f7f7;
	display: block;
	line-height: 65px;
	padding: 0px 25px;
  }
  
  .header-left {
	float: left;
  }
  .header-right ul {
	float: right;
	
	list-style: none;
  }
  .header-right ul li{
	display: inline-block;
	line-height: 65px;
	
  }
  
  .header-right ul li a {
	color: white;
	padding: 0px 25px;
	display: block;
	transition: all 0.5s;
  }
  
  .header-right ul li a:hover{
	background-color: rgba(255, 255, 255, 0.3);
  }
  
  label #opennav,
  label #closenav{
	float: right;
	margin-right: 40px;
	line-height: 65px;
	cursor: pointer;
	display: none;
  }
  
  #nav{
	display: none;
  }
  
  @media (max-width: 992px) {
	label #opennav {
		display: block;
	}
  
	.header-right ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		margin-right: 0;
		right: -100%;
		top: 65px;
		background-color: rgba(34, 49, 52, 0.9);
		text-align: center;
		transition: 0.3s;
	}
  
	.header-right ul li{
		display: block;
		line-height: 25px;
		margin: 25px 0px;
	}
  
	#nav:checked ~ ul{
		right: 0;
	}
	
	#nav:checked ~ label #opennav{
		display: none;
	}
	
	#nav:checked ~ label #closenav{
		display: block;
	}
  }
  
  /*  Banner */
  .top-wrapper {
	padding: 180px 0 100px 0;
	background-image: url(../img/wakanda.jpeg);
	background-size: cover;
	color: white;
	text-align: center;
  }
  
  .top-wrapper h1 {
	opacity: 0.7;
	font-size: 45px;
	letter-spacing: 5px;
	margin-bottom: 10px;
  }
  
  .top-wrapper p {
	opacity: 0.7;
	margin-bottom: 3px;
  }
  
  
  
  /* Heading */
  .heading {
	padding-top: 80px;
	padding-bottom: 50px;
	color: #5f5d60;
  }
  
  .heading h2 {
	font-weight: normal;
  }
  
	.heading h3 {
	font-weight: normal;
  }
  
  
  /* Galery */
	@font-face {
		font-family: 'BebasNeue';
		src: url(../font/BebasNeue-Regular.woff);
	}
  
	.title-galery{
		font-size: 50px;
		margin: 25px 0px 50px 0px;
		text-align: center;
		text-shadow: 1px 1px 1px blue;
	}
  
	.wrapper-galery{
		margin: auto;
		margin-bottom: 25px;
		width: 960px;
		font: 18px/36px 'BebasNeue', 'Arial Norrow', 'sans-serif';
		background-color: #ccc;
		padding: 20px;
		border-radius: 5px;
		box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
	}
  
	.galery li{
		list-style-type:none;
		width: 160px;
		height: 160px;
		border-radius: 50%;
		border: 5px solid #fff;
		float:left;
		margin: 0px 15px 15px 0px;
		position: relative;
	}
	
	.gambar{
		width: 150px;
		height: 150px;
		border-radius: 50%;
  
	}
	
	.galery li span{
		display: block;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		background-color: rgba(255, 255, 255, 0.5);
		position: absolute;
		top: 0;
		text-align: center;
		line-height: 150px;
		color: #000;
		text-shadow: 1px 1px 1px white;
		opacity: 0;
		transition: 0.3s;
		transform: scale(0) rotate(0);
	}
	
	.galery li a:hover span {
		opacity: 1;
		transform: scale(1) rotate(360deg);
	}
  
	.clear{
		clear: both;
	}
  
	.overlay {
		/* overlay */
		width: 0;
		height: 0;
		overflow: hidden;
		position: fixed;
		top: 0;
		left: 0;
		text-align: center;
		background: rgba(0, 0, 0, 0);
		z-index: 9999;
		transition: 1s;
		padding: 100px 0px;
	}
	
	.overlay:target{
		height: auto;
		width: auto;
		bottom: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.5);
	}
  
	.overlay img{
		max-height: 100%;
		box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
	}
  
	.overlay:target img{
		animation: zoomFade 1s;
	}
  
	.overlay .close{
		position: absolute;
		top: 0;
		left: 0;
	}
  
  
  
  
	@keyframes zoomFade {
		0%{
			transform: scale(0);
			opacity: 0;
		}
		100%{
			transform: scale(1);
			opacity: 1;
		}
	}
  
	/* BERITA */
  .judulberita {
		font-size: 50px;
		margin: 50px 0px 25px 0px;
		text-align: center;
		text-shadow: 1px 1px 1px blue;
  }
  
  
  /* profil pemimpin */
  .mainwrap{
	  margin-top: 65px;
	  padding-top: 30px;
	}
  
	.sectionrow {
	  margin-bottom: 35px;
  }
	
	.leader {
	  position: relative;
	  background: #efefef;
	  border-top: 1px solid #539ddb;
	  padding: 60px 70px 50px;
  }
  
  .leader-label {
	  position: absolute;
	  margin: 0 auto;
	  left: 0;
	  right: 0;
	  top: -15px;
	  box-sizing: content-box;
	  text-align: center;
  }
  
  .xlabel span {
	  background: #fff;
	  border: 1px solid #539ddb;
	  display: inline-block;
	  padding: 7px 15px 5px;
	  line-height: 1;
	  border-radius: 8px;
	  color: #539ddb;
  }
  
  .leader-row {
	  display: flex;
	  justify-content: space-between;
  }
  
  .leader-col {
	  width: 48.5%;
	  display: flex;
  }
  
  .leader-text {
	  padding-right: 30px;
	  text-align: right;
	  padding-left: 10px;
  }
  .cleader-text {
	  padding-left: 30px;
	  text-align: left;
	  padding-right: 10px;
  }
  
  .leader-pos {
	  font-size: 16px;
	  color: #539ddb;
	  margin-bottom: 10px;
  }
  
  .leader-name {
	  color: #084a83;
	  font-weight: 600;
	  font-size: 28px;
	  font-weight: 600;
	  margin-bottom: 25px;
  }
  
  .leader-pict {
	  flex-shrink: 0;
	  width: 300px;
  }
  
  .leader-pict img {
	  object-fit: cover;
	  width: 100%;
	  height: 100%;
  }
  
  
  /* TENTANG WAKANDA */
  
  .about {
	display: flex;
	justify-content: space-between;
  }
  
  .about-text {
	width: 49%;
  }
  
  .profil-header {
	display: flex;
	position: relative;
	justify-content: space-between;
	color: #084a83;
	margin-bottom: 15px;
  }
  
  .title-profil-header{
  font-weight: 600;
	font-size: 26px;
  }
  

  /* Pengaduan */

.wrap-aduan{
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 40px;
  }
  
  .aduan-form{
	padding: 30px;
	background: #fff;
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
	margin: 30px 0px;
  }
  
  .aduan-form-box{
	padding-bottom: 0px;
  }
  
  .aduan-box{
	font-weight: 800;
	font-size: 20px;
	color: #fff;
	background: #d0021b;
	margin-bottom: 12px;
	padding: 10px 0 10px 15px;
	margin-top: -10px;
  }
  
  .aduan-form-category{
	position: relative;
	border-bottom: 1px solid #ddd;
	padding-bottom: 15px;
  }
  
  .form {
	border-color: #ccc;
	box-shadow: 0 0 0px 8px transparent;
	display: block;
	width: 100%;
	height: 44px;
	padding: 10px 12px;
	font-size: 14px;
	line-height: 1.618;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 0px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
  
  .btn {
	display: inline-block;
	text-align: center;
	cursor: pointer;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 10px 25px;
	font-size: 14px;
	line-height: 1.618;
	border-radius: 4px;
	color: #ffffff;
	background-color: #d0021b;
	border-color: transparent;
  }
  
  .btn:hover{
	background-color: #ff0000;
  }
  
  /* FOOTER */
  footer img {
	width: 125px;
  }
  
  footer a{
	color: white ;
  }
  
  footer p {
	color: #b3aeb5;
	font-size: 12px;
  }
  
  footer {
	display: block;
  }
  
  .bg-foot{
	background-color: #05480e;
  }
  
  .footer{
	display: flex;
	justify-content: space-between;
	color: #fff;
	padding: 50px 0;
	margin-top: 20px;
  }
  .footer_content{
	width: 32%;
	border-left: 1px solid #cacaca;
	padding-left: 25px;
	line-height: 1.6;
	font-size: 16px;
  }
  
  .footmenu {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-around;
	font-weight: 300;
  }
  
  .footer_content li {
	list-style-type:none;
  }
  
  .footer_content li a:hover {
	color: blue;
  }
  
  
  .sosmed {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-around;
	font-weight: 300;
  }